<div class="ui-grid-header custom-ui-grid-header">
    <div class="ui-grid-top-panel">
        <div class="ui-grid-header-viewport">
            <div class="ui-grid-header-canvas" style="width: 100%">
                <div class="ui-grid-header-cell-wrapper" style="display: block;" ng-style="colContainer.headerCellWrapperStyle()">
                    <div class="ui-grid-header-cell-row">
                        <div class="ui-grid-header-cell ui-grid-clearfix"
                             ng-repeat="col in colContainer.renderedColumns track by col.colDef.name"
                             ui-grid-header-cell col="col"
                             render-index="$index"
                             ng-click="grid.appScope.vm.rowHeaderClick()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>