<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.btnCancel_Click();">
        &times;
    </button>
    <h4 class="modal-title">Select Inventory Items</h4>
</div>
<div class="modal-body" id="modal-body">
    <form role="form" class="form-horizontal" name="frmGrnItemList">
        <div class="form-group">
            <div class="pull-left">
                <label class="control-label col-lg-2">Search</label>
            </div>
            <div class="col-lg-4">
                <select class="form-control"
                        id="cboColumn1" name="cboColumn1"
                        ng-model="vm.searchCol"
                        ng-options="column.displayName || column.name for column in vm.columns | filter:{visible:true}" />
            </div>
            <div class="col-lg-4" style="padding-left:0">
                <input type="text" class="form-control"
                       id="txtSearch" name="txtSearch" placeholder="Search"
                       ng-model="vm.searchText"
                       ng-change="vm.txtSearch_TextChanged();" />
            </div>
        </div>
        <div class="form-group no-margin">
            <div class="col-lg-12">
                <div id="dgvItemDetail" style="min-height:400px"
                     class="grid"
                     ui-grid="vm.gridOptions"
                     ui-grid-move-columns
                     ui-grid-resize-columns
                     ui-grid-selection
                     ui-grid-infinite-scroll />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="pull-left">
        <button class="btn btn-success" type="button"
                ng-click="vm.btnSelectAll_Click();">
            {{vm.btnSelectText}}
        </button>
    </div>
    <button class="btn btn-default" type="button"
            data-dismiss="modal"
            ng-click="vm.btnCancel_Click();">
        Cancel
    </button>
    <button class="btn btn-primary" type="submit"
            ng-click="vm.btnSelect_Click();">
        Select
    </button>
</div>