<link href="../../../Content/ui-grid.css" rel="stylesheet" />

<form role="form" class="col-lg-12" name="frmStoreSpaceEnq" style="padding-top:10px">
    <fieldset>
        <legend>Storage Space Enquiry</legend>
        <div class="form-group col-xs-12 col-sm-6 col-md-5 col-lg-4">
            <label for="txtWhCode">
                <a ng-click="vm.showWarehouseDialog();">Warehouse Code</a>
            </label>
            <input-dialog name="txtWhCode"
                          viewname="vw_whwh1"
                          valuemember="Warehouse Code"
                          displaymember="Warehouse Code"
                          displayinfomember="Warehouse Name"
                          ng-model="vm.warehouseCode"
                          ng-info-model="vm.warehouseName"
                          ng-required="true"
                          ng-focus="true"></input-dialog>
            <p class="help-block">Warehouse Name : {{vm.warehouseName}}</p>
        </div>
        <div class="form-group col-xs-12 col-sm-6 col-md-5 col-lg-2">
            <label for="txtReceiptDate">Receipt Date</label>
            <p class="input-group">
                <input type="text" class="form-control"
                       id="txtReceiptFromDate" name="txtReceiptFromDate"
                       ng-model="vm.fromDate"
                       uib-datepicker-popup="dd/MM/yyyy"
                       is-open="vm.fromDateOptions.isOpen"
                       close-text="Close"
                       datepicker-options="vm.fromDateOptions"
                       ng-change="vm.fromDate_Changed();"
                       ng-required="true" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                            ng-click="vm.btnFromDate_Click();">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
        <div class="form-group col-xs-12 col-sm-6 col-md-5 col-lg-2">
            <label for="txtReceiptDate">To</label>
            <p class="input-group">
                <input type="text" class="form-control"
                       id="txtReceiptToDate" name="txtReceiptToDate"
                       ng-model="vm.toDate"
                       uib-datepicker-popup="dd/MM/yyyy"
                       is-open="vm.toDateOptions.isOpen"
                       close-text="Close"
                       datepicker-options="vm.toDateOptions"
                       ng-required="true" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                            ng-click="vm.btnToDate_Click();">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
        <div class="form-group col-xs-12 col-sm-6 col-md-5 col-lg-4" style="padding-top:25px; padding-left:0">
            <button type="button" class="btn btn-primary"
                    ng-click="vm.btnQuery_Click()">
                Query Data
            </button>
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-12">
            <label>Bin List</label>
            <div id="dgvView" style="min-height:400px"
                    class="grid"
                    ui-grid="vm.gridOptions"
                    ui-grid-move-columns
                    ui-grid-resize-columns
                    ui-grid-selection
                    ui-grid-infinite-scroll
                    ui-grid-pinning
                    ui-grid-expandable>
            </div>
        </div>
    </fieldset>
</form>